{%  extends "base.html.twig" %}

{%  block body %}
    <h3>Hello {{ username }}: </h3>

    <table>
        <th>Nom :</th>
        <th>Date : </th>
        <th>Description :</th>
    {%  for data in formdata %}
        <tr>
            <td>{{ data.appName }}</td>
            <td>{{ data.createdDate|date("d/m/Y")}}</td>
            <td>{{ data.descLong}}</td>

        </tr>
    {%  endfor %}
    </table>






        {#<li>Application Name : {{ data.appName }}</li>#}


{%  endblock %}